h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#mairesDescription{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}
body{
    background-color: aquamarine;
}

.skillsList{
    line-height: 40px;
}

.operatingSystem{
    font-size:18px;
}

.shell{
    font-size:19px;
}
.markup{
    font-size:21px;
}
.cascading{
    font-size:21px;
}
.favSkill{
    font-size:25px;
}
.node{
    font-size:17px;
}
.git{
    font-size:21px;
}
.github{
    font-size:20px;
}