h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.descriptions{
    font-family:'Courier New', monospace;
    font-size: 16px;
}
body{
    background-color: aquamarine;
}

.skillsList{
    line-height: 40px;
}

.operatingSystem{
    font-size:18px;
}

.shell{
    font-size:19px;
}
.markup{
    font-size:21px;
}
.cascading{
    font-size:21px;
}
.favSkill{
    font-size:25px;
}
.node{
    font-size:17px;
}
.git{
    font-size:21px;
}
.github{
    font-size:20px;
}

.about{
    position: absolute;
    top: 100px;
    left: 350px;
}

.myPic{
    padding: 5px;
    background-color: beige;
}

